*{
    margin: 0;
    padding: 0;
}
.header{
    min-heigth:100%;
    width:100%,
    backgroung-image: none;
    background-position:center;
    background-size:cover;
    position:relative;
}
nav{ display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;

    nav img{width: 150px
    bottom: 50%;
left:50%;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.footer

{min-heigth:100%;
width:100%,
backgroung-image: none;
background-position:center;
background-size:cover;
position:relative;
}
.f-links{}

.h1-btn{
    display: inline-block;
}
.footer {background color:gray ;}